<?xml version="1.0"?>
<!--
/**
 *
 * @category   Inovarti
 * @package    Inovarti_Pagarme
 * @author     Suporte <suporte@inovarti.com.br>
 *
 * UPDATED:
 *
 * @copyright   Copyright (C) 2015 Gamuza Technologies (http://www.gamuza.com.br/)
 * @author     Eneias Ramos de Melo <eneias@gamuza.com.br>
 */
-->
<config>
    <modules>
        <Inovarti_Pagarme>
            <version>0.1.8</version>
        </Inovarti_Pagarme>
    </modules>
    <global>
        <fieldsets>
            <sales_convert_quote_payment>
                <installments>
                    <to_order_payment>*</to_order_payment>
                </installments>
                <installment_description>
                    <to_order_payment>*</to_order_payment>
                </installment_description>
                <pagarme_card_hash>
                    <to_order_payment>*</to_order_payment>
                </pagarme_card_hash>
                <pagarme_checkout_installments>
                    <to_order_payment>*</to_order_payment>
                </pagarme_checkout_installments>
                <pagarme_checkout_payment_method>
                    <to_order_payment>*</to_order_payment>
                </pagarme_checkout_payment_method>
                <pagarme_checkout_hash>
                    <to_order_payment>*</to_order_payment>
                </pagarme_checkout_hash>
            </sales_convert_quote_payment>
            <sales_convert_quote_address>
                <fee_amount>
                    <to_order>*</to_order>
                </fee_amount>
                <base_fee_amount>
                    <to_order>*</to_order>
                </base_fee_amount>
            </sales_convert_quote_address>
        </fieldsets>
    	<models>
            <pagarme>
                <class>Inovarti_Pagarme_Model</class>
                <resourceModel>pagarme_resource</resourceModel>
            </pagarme>
            <pagarme_resource>
                <class>Inovarti_Pagarme_Model_Resource</class>
                <entities>
                    <splitrules>
                        <table>pagarme_split_rules</table>
                    </splitrules>
                    <marketplacemenu>
                        <table>pagarme_marketplace_menu</table>
                    </marketplacemenu>
                </entities>
            </pagarme_resource>
            <customer>
                <rewrite>
                    <address>Inovarti_Pagarme_Model_Customer_Address</address>
                </rewrite>
            </customer>
            <sales>
                <rewrite>
                    <quote_address>Inovarti_Pagarme_Model_Sales_Quote_Address</quote_address>
                </rewrite>
                <quote>
                    <item>
                        <recipient_id/>
                    </item>
                </quote>
            </sales>
    	</models>
    	<resources>
            <pagarme_setup>
                <setup>
                    <module>Inovarti_Pagarme</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pagarme_setup>
            <pagarme_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pagarme_write>
            <pagarme_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pagarme_read>
        </resources>
        <blocks>
            <pagarme>
                <class>Inovarti_Pagarme_Block</class>
            </pagarme>
        </blocks>
        <helpers>
            <pagarme>
                <class>Inovarti_Pagarme_Helper</class>
            </pagarme>
            <checkout>
                <rewrite>
                    <data>Inovarti_Pagarme_Helper_Checkout_Data</data>
                </rewrite>
            </checkout>
            <pagarme_notifications>
                <class>Pagarme_Notifications_Helper</class>
            </pagarme_notifications>
        </helpers>
        <payment>
            <cc>
                <types>
                    <EL>
                        <code>EL</code>
                        <name>Elo</name>
                        <order>55</order>
                    </EL>
                    <DC>
                        <code>DC</code>
                        <name>Diners Club</name>
                        <order>60</order>
                    </DC>
                    <AU>
                        <code>AU</code>
                        <name>Aura</name>
                        <order>65</order>
                    </AU>
                    <HC>
                        <code>HC</code>
                        <name>Hipercard</name>
                        <order>70</order>
                    </HC>
                </types>
            </cc>
            <groups>
                <pagarme>Pagar.me</pagarme>
            </groups>
        </payment>
        <sales>
            <quote>
                <totals>
                    <fee>
                        <class>pagarme/quote_address_total_fee</class>
                        <after>grand_total</after>
                    </fee>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <fee>
                        <class>pagarme/sales_order_total_invoice_fee</class>
                    </fee>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <fee>
                        <class>pagarme/sales_order_total_creditmemo_fee</class>
                    </fee>
                </totals>
            </order_creditmemo>
       </sales>
        <pdf>
            <totals>
                <fee translate="title">
                    <title>Fee</title>
                    <source_field>fee_amount</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>
                    <amount_prefix></amount_prefix>
                </fee>
            </totals>
        </pdf>
        <events>
            <sales_order_invoice_pay>
                <observers>
                    <pagarme_sales_order_invoice_pay>
                        <class>pagarme/observer</class>
                        <method>invoicePay</method>
                    </pagarme_sales_order_invoice_pay>
                </observers>
            </sales_order_invoice_pay>
            <sales_order_creditmemo_refund>
                <observers>
                    <pagarme_sales_order_creditmemo_refund>
                        <class>pagarme/observer</class>
                        <method>creditmemoRefund</method>
                    </pagarme_sales_order_creditmemo_refund>
                </observers>
            </sales_order_creditmemo_refund>
            <sales_order_place_after>
                <observers>
                    <update_order_status_invoiced>
                        <type>singleton</type>
                        <class>pagarme/observer</class>
                        <method>updateOrderStatusInvoiced</method>
                    </update_order_status_invoiced>
                </observers>
            </sales_order_place_after>
            <sales_quote_add_item>
                <observers>
                    <inchoo_test_log_cart_add>
                        <class>pagarme/observer</class>
                        <method>setRecipientId</method>
                    </inchoo_test_log_cart_add>
                </observers>
            </sales_quote_add_item>
            <controller_front_init_before>
                <observers>
                    <add_pagarme_library>
                        <type>singleton</type>
                        <class>pagarme/observer</class>
                        <method>addPagarmeLibrary</method>
                    </add_pagarme_library>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
    <frontend>
        <routers>
            <pagarme>
                <use>standard</use>
                <args>
                    <module>Inovarti_Pagarme</module>
                    <frontName>pagarme</frontName>
                </args>
            </pagarme>
        </routers>
        <translate>
            <modules>
                <Inovarti_Pagarme>
                    <files>
                        <default>Inovarti_Pagarme.csv</default>
                    </files>
                </Inovarti_Pagarme>
            </modules>
        </translate>
        <layout>
            <updates>
                <pagarme>
                    <file>pagarme.xml</file>
                </pagarme>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Inovarti_Pagarme>
                    <files>
                        <default>Inovarti_Pagarme.csv</default>
                    </files>
                </Inovarti_Pagarme>
            </modules>
        </translate>
        <layout>
            <updates>
                <pagarme>
                    <file>pagarme.xml</file>
                </pagarme>
                <pagarme_notifications>
                    <file>pagarme/notifications.xml</file>
                </pagarme_notifications>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Inovarti_Pagarme before="Mage_Adminhtml">Inovarti_Pagarme_Adminhtml</Inovarti_Pagarme>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <payment>
            <pagarme_settings>
                <mode>test</mode>
            </pagarme_settings>
            <pagarme_boleto>
                <active>0</active>
                <model>pagarme/boleto</model>
                <title>Boleto Bancário</title>
                <days_to_expire>5</days_to_expire>
                <payment_action>charge</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <group>pagarme</group>
                <async>0</async>
            </pagarme_boleto>
            <pagarme_cc>
                <active>0</active>
                <model>pagarme/cc</model>
                <title>Cartão de Crédito</title>
                <order_status>processing</order_status>
                <cctypes>VI,MC,AE,DI,JCB,EL,DC,AU</cctypes>
                <max_installments>12</max_installments>
                <min_installment_value>20</min_installment_value>
                <interest_rate>1.5</interest_rate>
                <free_installments>5</free_installments>
                <payment_action>authorize_capture</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>2</sort_order>
                <group>pagarme</group>
            </pagarme_cc>
            <pagarme_checkout>
                <active>1</active>
                <model>pagarme/checkout</model>
                <title>Pagarme Checkout</title>
                <order_status>processing</order_status>
                <payment_method>boleto,credit_card</payment_method>
                <cctypes>VI,MC,AE,DI,JCB,EL,DC,AU,HC</cctypes>
                <max_installments>12</max_installments>
                <min_installment_value>20</min_installment_value>
                <interest_rate>1.5</interest_rate>
                <free_installments>5</free_installments>
                <!--
                <boleto_discount_amount>10</boleto_discount_amount>
                <boleto_discount_percentage>5</boleto_discount_percentage>
                -->
                <payment_action>authorize_capture</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>3</sort_order>
                <group>pagarme</group>
            </pagarme_checkout>
        </payment>
    </default>
</config>
