<!--@subject Error Message ! @-->
<!--@vars
{"store url=\"\"":"Store Url",

@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
         
                <!-- [ middle starts here] -->
                
                            <p><strong>Segue o erro que ocorreu em sua loja</strong>,<br /><br />
          
                           {{var log}}
   
            </td>
        </tr>
    </table>
</div>