<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
    <Facebook_AdsToolbox>
      <version>2.2.1</version>
    </Facebook_AdsToolbox>
  </modules>
  <global>
    <models>
      <Facebook_AdsToolbox>
        <class>Facebook_AdsToolbox_Model</class>
      </Facebook_AdsToolbox>
    </models>
    <blocks>
      <Facebook_AdsToolbox>
        <class>Facebook_AdsToolbox_Block</class>
      </Facebook_AdsToolbox>
    </blocks>
    <helpers>
      <Facebook_AdsToolbox>
        <class>Facebook_AdsToolbox_Helper</class>
      </Facebook_AdsToolbox>
    </helpers>
    <events>
      <checkout_cart_product_add_after>
        <observers>
          <Facebook_AdsToolbox_Cart_Observer>
            <type>object</type>
            <class>Facebook_AdsToolbox_Model_Observer</class>
            <method>addToCart</method>
          </Facebook_AdsToolbox_Cart_Observer>
        </observers>
      </checkout_cart_product_add_after>
      <controller_action_predispatch_adminhtml>
        <observers>
          <Facebook_AdsToolbox_NoCache_Observer>
            <type>object</type>
            <class>Facebook_AdsToolbox_Model_Observer</class>
            <method>disableCache</method>
          </Facebook_AdsToolbox_NoCache_Observer>
        </observers>
      </controller_action_predispatch_adminhtml>
   </events>
  </global>
  <frontend>
    <layout>
      <updates>
        <FacebookAdsToolbox
          module="Facebook_AdsToolbox">
          <file>facebookadstoolbox.xml</file>
        </FacebookAdsToolbox>
      </updates>
    </layout>
    <routers>
      <facebook_debug>
        <use>standard</use>
        <args>
          <module>Facebook_AdsToolbox</module>
          <frontName>facebookadstoolbox</frontName>
        </args>
      </facebook_debug>
    </routers>
  </frontend>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <Pixel after="Mage_Adminhtml">Facebook_AdsToolbox_Adminhtml</Pixel>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <FacebookAdsToolbox module="Facebook_AdsToolbox_Adminhtml">
          <file>facebookadstoolbox.xml</file>
        </FacebookAdsToolbox>
      </updates>
    </layout>
  </adminhtml>
  <crontab>
    <jobs>
      <facebookadstoolbox_feed_regenerate>
        <schedule>
          <cron_expr>59 00 * * *</cron_expr>
        </schedule>
        <run>
          <model>Facebook_AdsToolbox/observer::generateFacebookProductFeed</model>
        </run>
      </facebookadstoolbox_feed_regenerate>
    </jobs>
  </crontab>
</config>
