<?xml version="1.0"?>
<config>
    <modules>
        <Aleap_Integrator>
            <version>0.4.5</version>
        </Aleap_Integrator>
    </modules>
    <frontend>
        <routers>
            <integrator>
                <use>standard</use>
                <args>
                    <module>Aleap_Integrator</module>
                    <frontName>aleap</frontName>
                </args>
            </integrator>
        </routers>
    </frontend>
    <global>
        <models>
            <aleap>
                <class>Aleap_Integrator_Model</class>
                <resourceModel>aleap_resource</resourceModel>
            </aleap>
            <aleap_resource>
                <class>Aleap_Integrator_Model_Resource</class>
                <entities>
                    <product>
                        <table>catalog_product_entity</table>
                    </product>
                </entities>
            </aleap_resource>
        </models>
        <resources>
            <aleap_setup>
                <setup>
                    <module>Aleap_Integrator</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aleap_setup>
            <aleap_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </aleap_write>
            <aleap_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </aleap_read>
        </resources>

        <helpers>
            <aleap_integrator>
                <class>Aleap_Integrator_Helper</class>
            </aleap_integrator>
        </helpers>
    </global>

    <default>
        <payment>
            <aleap>
                <active>1</active>
                <model>aleap/paymentMethod</model>
                <order_status>pending</order_status>
                <title>Achieve Leap</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </aleap>
        </payment>
        <carriers>
            <aleap_shipping>
                <active>1</active>
                <model>aleap/carrier</model>
                <title>AchieveLeap Shipping Carrier</title>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
                <express_max_weight>1</express_max_weight>
            </aleap_shipping>
        </carriers>
    </default>
</config>
