<?xml version="1.0"?>
<config>
    <sections>
        <general>
            <groups>
                <aleap_integrator translate="label" module="aleap_integrator">
                    <label>Achieve Leap</label>
                    <tab>general</tab>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment>
                        <![CDATA[
                            <p>
                                Lembre-se de
                                <a href="http://admin.achieveleap.com/products/settings/ecommerce/magento">
                                    configurar a integração do Magento
                                </a>
                                no site da Achieve Leap.
                            </p>
                        ]]>
                    </comment>
                    <fields>
                        <alt_name>
                            <label>Nome do produto</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Aleap_Integrator_Model_Source_Attribute</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Para usar um nome diferente do nome normal</comment>
                            <tooltip>
                                Use esta opção se for desejável informar outro campo como o título do produto.
                                Não havendo informação neste campo, usa-se o campo default.
                            </tooltip>
                        </alt_name>

                        <alt_description>
                            <label>Descrição alternativa</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Aleap_Integrator_Model_Source_Attribute</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Para usar uma descrição diferente da normal</comment>
                            <tooltip>
                                Use esta opção se for desejável informar outro campo como a descrição do produto.
                                Não havendo informação neste campo, usa-se o campo default.
                            </tooltip>
                        </alt_description>

                        <alt_handling_time>
                            <label>Tempo até a postagem</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Aleap_Integrator_Model_Source_Attribute</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Escolha o campo que informa o tempo necessário para enviar o pedido, em dias</comment>
                            <tooltip>
                                Escolha o campo que define o tempo para o envio, em dias, ou defina um valor
                                padrão no site da Achieve Leap. Entre em contato, se necessário.
                            </tooltip>
                        </alt_handling_time>

                        <alt_ean>
                            <label>EAN</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Aleap_Integrator_Model_Source_Attribute</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Código de barras</comment>
                            <tooltip>
                                Segue o padrão EAN-13
                            </tooltip>
                        </alt_ean>
                        <customer_group>
                            <label>Grupo de clientes</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Aleap_Integrator_Model_Source_CustomerGroup</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Grupo de cliente a ser usado no cadastro dos mesmos</comment>
                            <tooltip>
                                Útil se desejar classificar os clientes cadastrados via Achieve Leap
                            </tooltip>
                        </customer_group>
                        <use_full_state_name>
                            <label>Usar estado por extenso</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Registrar endereços usando a sigla do estado (SP) ou seu nome completo (São Paulo)</comment>
                            <tooltip>
                                Dica: veja como os demais pedidos estão sendo cadastrados.
                            </tooltip>
                        </use_full_state_name>
                    </fields>
                </aleap_integrator>
            </groups>
        </general>
    </sections>
</config>
