<?xml version="1.0"?>
<config>
	<modules>
		<EvoPin_AutoRelatedProducts>
			<version>0.0.1</version>
		</EvoPin_AutoRelatedProducts>
	</modules>
	<global>
		<blocks>
			<autorelatedproducts>
				<class>EvoPin_Autorelatedproducts_Block</class>
			</autorelatedproducts>
			<catalog>
				<rewrite>
					<product_list_related>EvoPin_AutoRelatedProducts_Block_Related</product_list_related>
				</rewrite>
			</catalog>
			<adminhtml>
				<rewrite>
					<catalog_product_edit_tab_related>EvoPin_AutoRelatedProducts_Block_Adminhtml_Catalog_Product_Edit_Tab_Related</catalog_product_edit_tab_related>
				</rewrite>
			</adminhtml>
		</blocks>
		<models>
			<autorelatedproducts>
				<class>EvoPin_AutoRelatedProducts_Model</class>
			</autorelatedproducts>
		</models>
		<helpers>
			<autorelatedproducts>
				<class>EvoPin_AutoRelatedProducts_Helper</class>
			</autorelatedproducts>
		</helpers>
	</global>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<autorelatedproducts translate="title" module="autorelatedproducts">
											<title>Related Products</title>
										</autorelatedproducts>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
		<autorelatedproducts>
			<general>
				<enabled>1</enabled>
				<backend_enabled>1</backend_enabled>
				<limit>3</limit>
				<cache_lifetime>3600</cache_lifetime>
			</general>
		</autorelatedproducts>
	</default>
</config>
