/*

Old path to file: /skin/frontend/default/default/css/followupemail.css
Current path to file: /skin/frontend/default/default/aw_followupemail/css/style.css

*/
.one-page-checkout .checkout-subscribe {
    padding: 25px 20px;
    border-color: #D9DDE3 #D9DDE3;
    border-style: solid solid none;
    border-width: 0 1px 1px;
}