<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Inchoo_Developer>
             <version>0.0.3</version>
        </Inchoo_Developer>
    </modules>
    
    <global>
        <models>
            <inchoo_developer>
                <class>Inchoo_Developer_Model</class>
            </inchoo_developer>
        </models>
        <helpers>
            <inchoo_developer>
                <class>Inchoo_Developer_Helper</class>
            </inchoo_developer>
            <!-- firephp shortcut -->
            <firephp>
            	<class>Inchoo_Developer_Helper_Firephp</class>
            </firephp>
        </helpers>
    </global>
	
</config>