/* GENERAL VARAIBLES
 * ============================================= */
/* GRADIENT MIXINS
 * ============================================= */
/* SHADOW MIXINS
 * ============================================= */
#adroll html, #adroll body, #adroll div, #adroll span, #adroll applet, #adroll object, #adroll iframe, #adroll h1, #adroll h2, #adroll h3, #adroll h4, #adroll h5, #adroll h6, #adroll p, #adroll blockquote, #adroll pre, #adroll a, #adroll abbr, #adroll acronym, #adroll address, #adroll big, #adroll cite, #adroll code, #adroll del, #adroll dfn, #adroll em, #adroll font, #adroll img, #adroll ins, #adroll kbd, #adroll q, #adroll s, #adroll samp, #adroll small, #adroll strike, #adroll strong, #adroll sub, #adroll sup, #adroll tt, #adroll var, #adroll dl, #adroll dt, #adroll dd, #adroll ol, #adroll ul, #adroll li, #adroll fieldset, #adroll form, #adroll label, #adroll legend, #adroll table, #adroll caption, #adroll tbody, #adroll tfoot, #adroll thead, #adroll tr, #adroll th, #adroll td, #adroll figure {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }
#adroll :focus {
  outline: 0; }
#adroll ol, #adroll ul {
  list-style: none; }
#adroll .clear {
  clear: both; }
#adroll select, #adroll input, #adroll textarea {
  font: 99% "Helvetica Neue", Arial, Verdana, san-serif; }
#adroll a {
  color: #2589c6; }

/* GENERAL VARAIBLES
 * ============================================= */
/* GRADIENT MIXINS
 * ============================================= */
/* SHADOW MIXINS
 * ============================================= */
/* GENERAL VARAIBLES
 * ============================================= */
/* GRADIENT MIXINS
 * ============================================= */
/* SHADOW MIXINS
 * ============================================= */
.button-base, .button-primary, .button-primary-large, #adroll #adroll-success-box a, #adroll #adroll-login-box a, #adroll .adroll-subtle-button, #adroll .adroll-setup-button, #adroll .adroll-primary-button, #adroll #adroll-signup #adroll-form-footer #adroll-submit {
  -webkit-appearance: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.25), 0px 1px 0px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.25), 0px 1px 0px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.25), 0px 1px 0px rgba(255, 255, 255, 0.5);
  -o-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.25), 0px 1px 0px rgba(255, 255, 255, 0.5);
  -ms-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.25), 0px 1px 0px rgba(255, 255, 255, 0.5);
  background: white;
  background: -moz-linear-gradient(100% 100% 90deg, #cccccc, white);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(white), to(#cccccc));
  background: -o-linear-gradient(white, #cccccc);
  background: -ms-linear-gradient(top, white 0%, #cccccc 100%);
  color: white;
  text-decoration: none;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  text-align: center;
  display: block;
  line-height: 30px;
  font-size: 14px;
  padding: 0px 24px;
  border: 1px solid #999999; }

/*HOVER STATES
 *============================================= */
.button-primary:hover, .button-primary-large:hover, #adroll #adroll-success-box a:hover, #adroll #adroll-login-box a:hover {
  background: #35c6fc url("http://adroll.com/i/marketing/sprites/primary-button.png") 0px -50px repeat-x; }

/*ACTIVE STATES
 *============================================= */
.button-primary:active, .button-signup:active, .button-primary-large:active, #adroll #adroll-success-box a:active, #adroll #adroll-login-box a:active {
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25), 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25), 0px 1px 0px white;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25), 0px 1px 0px white;
  -o-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25), 0px 1px 0px white;
  -ms-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25), 0px 1px 0px white;
  background: #007cac url("http://adroll.com/i/marketing/sprites/primary-button.png") 0px -100px repeat-x; }

/*STATIC SITE BUTTONS
 *============================================= */
.button-primary, .button-primary-large, #adroll #adroll-success-box a, #adroll #adroll-login-box a {
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 2px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 2px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 2px rgba(0, 0, 0, 0.3);
  background: #00b5fa url("http://adroll.com/i/marketing/sprites/primary-button.png") 0px 0px repeat-x;
  border: 1px solid #007fae;
  float: left;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4); }

input.button-primary {
  height: 30px; }

.button-primary-large, #adroll #adroll-success-box a, #adroll #adroll-login-box a {
  line-height: 38px;
  height: 38px;
  font-size: 18px;
  font-weight: bold;
  margin: 0px auto; }

/*GENERAL STYLES
 *============================================= */
#adroll {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid #DDD;
  margin: 40px auto;
  padding: 30px 60px 60px 60px;
  width: 818px;
  line-height: 24px;
  font-family: "Helvetica Neue", Arial, Verdana, san-serif;
  font-size: 14px;
  color: #333; }
  #adroll .adroll-subtle-button {
    background: #FFF;
    border: 1px solid #CCC;
    color: #b1b1b1;
    font-size: 12px;
    text-shadow: none; }
    #adroll .adroll-subtle-button:hover {
      color: #0080af; }
    #adroll .adroll-subtle-button:active {
      box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25), 0px 1px 0px white;
      -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25), 0px 1px 0px white;
      -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25), 0px 1px 0px white;
      -o-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25), 0px 1px 0px white;
      -ms-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25), 0px 1px 0px white;
      background: #FFF;
      color: #b1b1b1;
      text-shadow: 0px 1px 0px #FFF; }
  #adroll .adroll-setup-button {
    box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
    -o-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
    background: white;
    background: -moz-linear-gradient(100% 100% 90deg, #f6f6f6, white);
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(white), to(#f6f6f6));
    background: -o-linear-gradient(white, #f6f6f6);
    background: -ms-linear-gradient(top, white 0%, #f6f6f6 100%);
    border: 1px solid #49aef0;
    text-align: left;
    padding: 0; }
    #adroll .adroll-setup-button span {
      height: 48px;
      padding-left: 60px;
      display: block; }
    #adroll .adroll-setup-button.adroll-existing span {
      background: url("http://adroll-main-storage.s3.amazonaws.com/marketing/magento_sprite.png") 12px 9px no-repeat; }
    #adroll .adroll-setup-button.adroll-new-user span {
      background: url("http://adroll-main-storage.s3.amazonaws.com/marketing/magento_sprite.png") 12px -90px no-repeat; }
    #adroll .adroll-setup-button strong {
      display: block;
      color: #429ed9;
      font-weight: 500;
      line-height: 14px;
      padding-top: 10px;
      text-shadow: 0px 1px 0px #FFF;
      margin-bottom: 5px; }
    #adroll .adroll-setup-button em {
      display: block;
      font-weight: normal;
      font-size: 11px;
      line-height: 11px;
      color: #9a9a9a;
      text-shadow: 0px 1px 0px #FFF; }
    #adroll .adroll-setup-button:active {
      box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25), 0px 1px 0px white;
      -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25), 0px 1px 0px white;
      -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25), 0px 1px 0px white;
      -o-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25), 0px 1px 0px white;
      -ms-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25), 0px 1px 0px white;
      background: #eeeeee;
      background: -moz-linear-gradient(100% 100% 90deg, white, #eeeeee);
      background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#eeeeee), to(white));
      background: -o-linear-gradient(#eeeeee, white);
      background: -ms-linear-gradient(top, #eeeeee 0%, white 100%); }
  #adroll .adroll-primary-button {
    box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
    -o-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
    background: #ffa42d;
    background: -moz-linear-gradient(100% 100% 90deg, #f86e02, #ffa42d);
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#ffa42d), to(#f86e02));
    background: -o-linear-gradient(#ffa42d, #f86e02);
    background: -ms-linear-gradient(top, #ffa42d 0%, #f86e02 100%);
    border: 1px solid #d95b00;
    color: #FFF;
    font-weight: 500;
    text-align: center;
    height: 28px;
    line-height: 28px; }
    #adroll .adroll-primary-button:hover {
      background: #ffb22d;
      background: -moz-linear-gradient(100% 100% 90deg, #f97507, #ffb22d);
      background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#ffb22d), to(#f97507));
      background: -o-linear-gradient(#ffb22d, #f97507);
      background: -ms-linear-gradient(top, #ffb22d 0%, #f97507 100%); }
    #adroll .adroll-primary-button:active {
      box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25), 0px 1px 0px white;
      -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25), 0px 1px 0px white;
      -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25), 0px 1px 0px white;
      -o-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25), 0px 1px 0px white;
      -ms-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25), 0px 1px 0px white;
      background: #f86e02; }
  #adroll #adroll-header {
    border-bottom: 3px solid #dfdfdf;
    padding-bottom: 10px;
    margin-bottom: 30px; }
    #adroll #adroll-header h1 {
      background: url("http://adroll.com/i/marketing/sprites/common-sprite.png") 0px 0px no-repeat;
      overflow: hidden;
      height: 30px;
      width: 130px;
      text-indent: -3000px;
      float: left;
      font-size: 18px;
      margin-right: 5px; }
    #adroll #adroll-header h2 {
      background: #3acaff;
      background: -moz-linear-gradient(100% 100% 90deg, #03b1f1, #3acaff);
      background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#3acaff), to(#03b1f1));
      background: -o-linear-gradient(#3acaff, #03b1f1);
      background: -ms-linear-gradient(top, #3acaff 0%, #03b1f1 100%);
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
      -o-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
      -ms-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      -khtml-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      float: left;
      color: #FFF;
      line-height: 20px;
      height: 20px;
      padding: 0px 5px;
      font-size: 12px;
      text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3); }
    #adroll #adroll-header h3 {
      background: url("http://adroll-main-storage.s3.amazonaws.com/marketing/magento-extension.png") 0px 0px no-repeat;
      float: right;
      width: 220px;
      height: 30px;
      overflow: hidden;
      text-indent: -3000px; }
  #adroll #adroll-choose-user-type {
    float: left;
    width: 360px;
    padding-right: 60px;
    border-right: 1px dotted #CCC; }
    #adroll #adroll-choose-user-type h1 {
      font-weight: 500;
      color: #404b57;
      line-height: 28px;
      font-size: 16px;
      text-shadow: 0px, 1px, 2px, rgba(0, 0, 0, 0.2); }
    #adroll #adroll-choose-user-type p {
      font-size: 13px;
      color: #627387;
      margin: 0px 0px 10px 0px; }
    #adroll #adroll-choose-user-type #adroll-account-type-options {
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      -khtml-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
      -o-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
      -ms-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
      background: url("http://adroll-main-storage.s3.amazonaws.com/marketing/fancy_deboss.png") top left repeat;
      padding: 20px 30px; }
      #adroll #adroll-choose-user-type #adroll-account-type-options ul li {
        margin-bottom: 10px; }
        #adroll #adroll-choose-user-type #adroll-account-type-options ul li:last-child {
          margin: 0; }
  #adroll #adroll-container {
    float: left;
    width: 420px; }
    #adroll #adroll-container p {
      font-size: 13px;
      color: #627387;
      margin: 0px 0px 20px 0px; }
    #adroll #adroll-container #adroll-container-content {
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      -khtml-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
      -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
      -ms-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
      background: #fafafa;
      margin-bottom: 20px; }
      #adroll #adroll-container #adroll-container-content h1 {
        border-top-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
        -webkit-border-top-left-radius: 4px;
        -khtml-border-top-left-radius: 4px;
        -o-border-top-left-radius: 4px;
        -ms-border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        -moz-border-radius-topright: 4px;
        -webkit-border-top-right-radius: 4px;
        -khtml-border-top-right-radius: 4px;
        -o-border-top-right-radius: 4px;
        -ms-border-top-right-radius: 4px;
        background: #7c9aa5;
        background: -moz-linear-gradient(100% 100% 90deg, #678189, #7c9aa5);
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#7c9aa5), to(#678189));
        background: -o-linear-gradient(#7c9aa5, #678189);
        background: -ms-linear-gradient(top, #7c9aa5 0%, #678189 100%);
        box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
        -o-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
        -ms-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
        border: 1px solid #556970;
        height: 28px;
        line-height: 28px;
        color: #FFF;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3); }
      #adroll #adroll-container #adroll-container-content ul {
        border-bottom-left-radius: 3px;
        -moz-border-radius-bottomleft: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -khtml-border-bottom-left-radius: 3px;
        -o-border-bottom-left-radius: 3px;
        -ms-border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        -moz-border-radius-bottomright: 3px;
        -webkit-border-bottom-right-radius: 3px;
        -khtml-border-bottom-right-radius: 3px;
        -o-border-bottom-right-radius: 3px;
        -ms-border-bottom-right-radius: 3px;
        border: 1px solid #d6d6d6; }
        #adroll #adroll-container #adroll-container-content ul li {
          box-shadow: inset 0px 1px 0px white;
          -moz-box-shadow: inset 0px 1px 0px white;
          -webkit-box-shadow: inset 0px 1px 0px white;
          -o-box-shadow: inset 0px 1px 0px white;
          -ms-box-shadow: inset 0px 1px 0px white;
          background: #fafafa;
          border-bottom: 1px solid #d6d6d6;
          padding: 10px; }
          #adroll #adroll-container #adroll-container-content ul li:last-child {
            border-bottom-left-radius: 3px;
            -moz-border-radius-bottomleft: 3px;
            -webkit-border-bottom-left-radius: 3px;
            -khtml-border-bottom-left-radius: 3px;
            -o-border-bottom-left-radius: 3px;
            -ms-border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            -moz-border-radius-bottomright: 3px;
            -webkit-border-bottom-right-radius: 3px;
            -khtml-border-bottom-right-radius: 3px;
            -o-border-bottom-right-radius: 3px;
            -ms-border-bottom-right-radius: 3px;
            border: none; }
          #adroll #adroll-container #adroll-container-content ul li strong {
            float: left;
            font-weight: bold;
            color: #404b57;
            line-height: 28px; }
          #adroll #adroll-container #adroll-container-content ul li .adroll-primary-button {
            float: right; }
  #adroll #adroll-signup {
    float: left;
    width: 420px; }
    #adroll #adroll-signup .adroll-subtle-button {
      margin: 0px 40px; }
    #adroll #adroll-signup form {
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      -khtml-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
      -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
      -ms-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
      background: #fafafa;
      margin-bottom: 40px; }
      #adroll #adroll-signup form h1 {
        border-top-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
        -webkit-border-top-left-radius: 4px;
        -khtml-border-top-left-radius: 4px;
        -o-border-top-left-radius: 4px;
        -ms-border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        -moz-border-radius-topright: 4px;
        -webkit-border-top-right-radius: 4px;
        -khtml-border-top-right-radius: 4px;
        -o-border-top-right-radius: 4px;
        -ms-border-top-right-radius: 4px;
        background: #7c9aa5;
        background: -moz-linear-gradient(100% 100% 90deg, #678189, #7c9aa5);
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#7c9aa5), to(#678189));
        background: -o-linear-gradient(#7c9aa5, #678189);
        background: -ms-linear-gradient(top, #7c9aa5 0%, #678189 100%);
        box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
        -o-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
        -ms-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
        border: 1px solid #556970;
        height: 28px;
        line-height: 28px;
        color: #FFF;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3); }
      #adroll #adroll-signup form ul {
        padding: 20px;
        border-left: 1px solid #d6d6d6;
        border-right: 1px solid #d6d6d6; }
        #adroll #adroll-signup form ul li {
          margin-bottom: 20px; }
          #adroll #adroll-signup form ul li label {
            display: block;
            font-size: 11px;
            font-weight: bold;
            color: #333; }
            #adroll #adroll-signup form ul li label.adroll-error {
              color: #900; }
            #adroll #adroll-signup form ul li label.adroll-checkbox {
              float: left;
              font-weight: normal;
              color: #666; }
            #adroll #adroll-signup form ul li label em {
              font-weight: normal;
              font-size: 14px -1;
              color: #b1b1b1; }
          #adroll #adroll-signup form ul li input {
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            -khtml-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
            box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25);
            -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25);
            -o-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25);
            -ms-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25);
            display: block;
            padding: 0px 5px;
            width: 366px;
            border: 1px;
            height: 38px;
            line-height: 38px;
            border: 1px solid #aaaaaa;
            color: #999; }
            #adroll #adroll-signup form ul li input.adroll-error {
              background: #FFF4F4;
              border: 1px solid #990000; }
            #adroll #adroll-signup form ul li input:hover {
              color: #404B57; }
            #adroll #adroll-signup form ul li input:focus, #adroll #adroll-signup form ul li input:active {
              box-shadow: inset 0px 1px 4px #86c9e3;
              -moz-box-shadow: inset 0px 1px 4px #86c9e3;
              -webkit-box-shadow: inset 0px 1px 4px #86c9e3;
              -o-box-shadow: inset 0px 1px 4px #86c9e3;
              -ms-box-shadow: inset 0px 1px 4px #86c9e3;
              background: #FFFEF3;
              border: 1px solid #258EB6;
              color: #404B57; }
            #adroll #adroll-signup form ul li input.adroll-checkbox {
              float: left;
              width: auto;
              height: auto;
              padding: 0;
              margin: 7px 5px 0px 0px;
              bottom: none;
              line-height: 24px; }
        #adroll #adroll-signup form ul #adroll-terms {
          background: none;
          color: #999;
          font-size: 9px;
          margin-bottom: 0px;
          margin-top: 30px; }
          #adroll #adroll-signup form ul #adroll-terms a {
            color: #999; }
    #adroll #adroll-signup #adroll-form-footer {
      box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
      -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
      -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
      -o-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
      -ms-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
      border-bottom-left-radius: 4px;
      -moz-border-radius-bottomleft: 4px;
      -webkit-border-bottom-left-radius: 4px;
      -khtml-border-bottom-left-radius: 4px;
      -o-border-bottom-left-radius: 4px;
      -ms-border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      -moz-border-radius-bottomright: 4px;
      -webkit-border-bottom-right-radius: 4px;
      -khtml-border-bottom-right-radius: 4px;
      -o-border-bottom-right-radius: 4px;
      -ms-border-bottom-right-radius: 4px;
      border: 1px solid #d6d6d6;
      background: #eaeaea;
      padding: 10px; }
      #adroll #adroll-signup #adroll-form-footer #adroll-submit {
        box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
        -o-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
        -ms-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
        background: #ffa42d;
        background: -moz-linear-gradient(100% 100% 90deg, #f86e02, #ffa42d);
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#ffa42d), to(#f86e02));
        background: -o-linear-gradient(#ffa42d, #f86e02);
        background: -ms-linear-gradient(top, #ffa42d 0%, #f86e02 100%);
        border: 1px solid #d95b00;
        color: #FFF;
        font-weight: 500;
        text-align: center;
        height: 28px;
        line-height: 28px; }
        #adroll #adroll-signup #adroll-form-footer #adroll-submit:hover {
          background: #ffb22d;
          background: -moz-linear-gradient(100% 100% 90deg, #f97507, #ffb22d);
          background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#ffb22d), to(#f97507));
          background: -o-linear-gradient(#ffb22d, #f97507);
          background: -ms-linear-gradient(top, #ffb22d 0%, #f97507 100%); }
        #adroll #adroll-signup #adroll-form-footer #adroll-submit:active {
          box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25), 0px 1px 0px white;
          -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25), 0px 1px 0px white;
          -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25), 0px 1px 0px white;
          -o-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25), 0px 1px 0px white;
          -ms-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25), 0px 1px 0px white;
          background: #f86e02; }
  #adroll #adroll-success-box {
    background: white;
    background: -moz-linear-gradient(100% 100% 90deg, #eeeeee, white);
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(white), to(#eeeeee));
    background: -o-linear-gradient(white, #eeeeee);
    background: -ms-linear-gradient(top, white 0%, #eeeeee 100%);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid #dadada;
    width: 298px;
    float: left;
    padding: 40px 50px; }
    #adroll #adroll-success-box #adroll-check {
      background: url("http://adroll.com/i/marketing/sprites/common-sprite.png") 0px -2900px no-repeat;
      overflow: hidden;
      text-indent: -4000px;
      height: 50px;
      width: 50px;
      margin: 0px auto 30px auto; }
    #adroll #adroll-success-box h1 {
      font-size: 20px;
      color: #666;
      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
      font-weight: 500;
      margin-bottom: 10px;
      overflow: hidden; }
    #adroll #adroll-success-box p {
      line-height: 24px;
      font-size: 13px;
      color: #666666;
      margin-bottom: 40px; }
    #adroll #adroll-success-box a {
      font-weight: 500;
      width: 200px;
      padding: 0px;
      float: none;
      display: block;
      margin: 0px auto 20px auto; }
  #adroll #adroll-login-box {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border: 1px solid #e1e1e1;
    background: #fafafa;
    padding: 30px;
    width: 360px;
    margin: 0px auto 100px auto; }
    #adroll #adroll-login-box p {
      text-align: center;
      color: #666;
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 30px; }
    #adroll #adroll-login-box a {
      font-weight: 500;
      width: 200px;
      padding: 0px;
      float: none;
      display: block;
      margin: 0px auto; }
  #adroll #adroll-showcase {
    float: right;
    width: 340px; }
    #adroll #adroll-showcase #adroll-liquid-box {
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      -khtml-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
      -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
      -ms-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
      padding: 10px 20px 20px 20px;
      margin-bottom: 20px;
      border: 1px solid #DDD; }
      #adroll #adroll-showcase #adroll-liquid-box h2 {
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
        color: #ed5d00;
        text-align: center;
        font-size: 13px;
        margin-bottom: 5px; }
    #adroll #adroll-showcase p {
      line-height: 24px;
      font-size: 13px;
      color: #666666; }
      #adroll #adroll-showcase p strong {
        color: #ed5d00;
        font-weight: bold; }
